.editableComponent{
    .btn-editable {
        margin-left: 10px;
        font-size: 8px;
    }
}

.img-upload-container {
    margin-bottom: 20px;
    position: relative;

    .img-preview-container {
        background-color: #f7f7f7;
    }

    .img-upload {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .upload-text {
        font-size: 17px;
        margin: 0 10px 0 0;
    }

    input {
        display: none;
    }

    .alert {
        margin-top: 10px;
    }
}